# Example .env
# DON'T COMMIT YOUR ACTUAL SECRETS
# THIS IS FOR DEMONSTRATION PURPOSES ONLY
# Run it with:
# Linux
# export $(cat .env | xargs) && go run .
# Just remove all of these comments
ORY_KRATOS_BASE_URL="http://localhost:4433"
PORT="3000"
